:root {
  --aquamarine: #77d9dd;
  --blue: #4cc1f6;
  --pblue: #576ca8;
  --lightblue: #3c8dbc;
  --red: #e93a59;
  --orange: #f8bd59;
  --green: #27a743;
  
  --bluegrey: #19599e;
  --grey: #939393;
  --offwhite: #818286;
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GreatVibes;
  src: url(./fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
  display: flex;
  flex-direction: row;
  /* place-items: center; a lap közepére rendezte */
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
